<div class ="container">
      <h2 class="slogan">2 Für 1 oder 50%</h2>
  <div class="row">
    <div class="span9" id="search">
      <%= form_for @search do |f| %>
          <%= f.text_field :keywords, :placeholder => "Was? (Pizza, Spanisches, PLZ, Name, Bezirk)" %>
        </div>
        <div class="actions span3">
        <%= button_tag(:type => 'submit', :class => 'btn btn-large btn-custom') do %>
        <i class="icon-search"></i> SEARCH
        <% end %>
        </div>
      <% end %>
    </div>
  </div>  
</div>
