<h1>Search Results</h1>
<div id = "search_results">
<%#= render @search.restaurants %>
  <%= gmaps("map_options" => { :raw => "{scrollwheel: false}", "auto_adjust" => true },"markers" => { "data" => @json }) %>
  </div>