body,html
{
padding:0;
margin: 0;
}
.map_container {
  
  width: 100%;
}

.gmaps4rails_map {
  height: 500px;
  width: 100%;  
}

.info_window_img{
float:left;

}
#map label { width: auto; display:inline; }
#map img { max-width: none; }